<h1 class="content">SERVICE BREAKDOWN</h1>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
      <mat-card class="table">
        <table style="width: 500%">
          <tr *ngFor="let data of vars">
            <td>
              {{data.service}}
              <div *ngIf="data.service != 'TOTAL'" class="foo" [style] = "{'background-color':data.color }"></div>
            </td>
            <td>{{data.currency}}</td>
          </tr>
        </table>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="table">
      <div style="display: block;">
        <canvas baseChart width="200" height="150"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="doughnutChartColor"
          [legend] = "false">
        </canvas>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



