.content{
    color: #58a5c0;
  }

.table{
  box-shadow: none !important;
}

.demandHour{
  color: #d99387;
}

.reversedHour{
  color: #99b471;
}

.border{
  border-bottom: 1px solid black;
  font-size: 90%;
}

.textRight{
  text-align: right;
}