<h2 class="content">RESERVATION COVERAGE</h2>

<mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile colspan="2">
        <mat-card class="table" style="width: 100%">
          <table style="width: 100%">
            <tr>
              <th class="border">INSTANCE TYPE</th>
              <th class="border">ON DEMAND HOURS</th>
              <th class="border">REVERSED HOURS</th>
              <th class="border">TOTAL HOURS</th>
              <th class="border">COVERAGE</th>
            </tr>  
            <tr *ngFor="let ins of vars">
              <td>{{ins.name}}</td>
              <td class="demandHour textRight">{{ins.demand}}</td>
              <td class="reversedHour textRight">{{ins.reserved}}</td>
              <td class="textRight">{{ins.demand + ins.reserved}}</td>
              <td class="textRight">{{ins.reserved/(ins.demand + ins.reserved)*100 | percent}}</td>
            </tr> 
          </table>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="table">
            <div style="display: block;">
                <canvas width="500" height="200" baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="false"
                  [colors]= "barChartColors"
                  [chartType]="barChartType">
                </canvas>
              </div>
        </mat-card>
      </mat-grid-tile>
</mat-grid-list>