<h1 class="content">RESERVATION COVERAGE</h1>

<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="table" style="width: 100%">
          <table style="width: 100%">
            <tr>
              <th class="border">INSTANCE TYPE</th>
              <th class="border">ON DEMAND HOURS</th>
              <th class="border">REVERSED HOURS</th>
              <th class="border">TOTAL HOURS</th>
              <th class="border">COVERAGE</th>
            </tr>  
            <tr *ngFor="let instance of instances">
              <td>{{instance.instanceType}}</td>
              <td class="demandHour textRight">{{instance.demandHour}}</td>
              <td class="reversedHour textRight">{{instance.reversedHour}}</td>
              <td class="textRight">{{instance.totalHour}}</td>
              <td class="textRight">{{instance.coverage}}%</td>
            </tr>
          </table>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="table">
            <div style="display: block;">
                <canvas width="400" height="200" baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="false"
                  [chartType]="barChartType">
                </canvas>
              </div>
        </mat-card>
      </mat-grid-tile>
</mat-grid-list>